.Rhistory
.RData
.Rproj.user/
*.aux
*.bbl
*.bcf
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.run.xml
*.synctex.gz
*.toc
*.pdf

report/chunks/*
!report/chunks/.gitkeep

report/additional_states/*
!report/additional_states/.gitkeep

plots/*
!plots/.gitkeep
!plots/additional_states/

plots/additional_states/*
!plots/additional_states/.gitkeep
